:root {
  --ifm-color-primary: #dc332d;
  --ifm-color-primary-dark: #cc2822;
  --ifm-color-primary-darker: #c12620;
  --ifm-color-primary-darkest: #9f1f1a;
  --ifm-color-primary-light: #e04944;
  --ifm-color-primary-lighter: #e2544f;
  --ifm-color-primary-lightest: #e77571;
  --ifm-code-font-size: 95%;
  --ifm-font-size-base: 18px;
  --ifm-badge-padding-vertical: calc(1rem * 0.15);
  --ifm-badge-padding-horizontal: calc(1rem * 0.3);
}

.theme-code-block-highlighted-line {
  background-color: #ffeb94 !important;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.footer {
  text-align: center;
}

/* 
Top margin for a new paragraph
after an alert and a code block.
*/
div.alert + p,
div[class^="codeBlockWrapper"] + p {
  margin-top: var(--ifm-leading);
}
